.slot2 {
    transition:all 3s ease;
    position:relative;
    display:none;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 100%;
    height: 100%;
    margin-left:0px;
    margin-top:0px;
}
#slot2Theme {
    display:flex;
    position:fixed;
    width: 574px;
    height: 889px;
    margin-left: 50px;
    margin-top: 100px;
    background-image: url(../media/images/slot2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}
.slot2 .reel-container {
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:70px;
    margin-top:300px;
    gap:30px;
    width: 300px;
    height:140px;
    overflow: hidden;
}
.slot2  reel-container  reel {
    width:79px;
    height:237px;
    background-image: url(../media/images/reel.jpg);
    background-repeat: repeat-y;
    background-position: 0 0px;
    background-size: cover;
}
@media screen and (max-width: 600px) {
    #slot2Theme {
        display:flex;
        position:fixed;
        width: 374px;
        height: 689px;
        margin-left: 50px;
        margin-top: 100px;
        background-image: url(../media/images/slot2.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    } 
    .slot2  .reel-container {
        position:fixed;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left:0px;
        margin-top:200px;
        gap:10px;
        width: 300px;
        height:140px;
        overflow: hidden;
    }
    .slot2Theme  .reel-container  .reel {
        width:79px;
        height:237;
        background-image: url(../media/images/reel.jpg);
        background-repeat: repeat-y;
        background-position: 0 0px;
        background-size: cover;
        z-index:2;
    }
    
}