html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #090979;
    display:flex;
    }
/********************HOME ********************/
nav {
    display:flex;
    flex-direction: row;
    position:fixed;
    color:white;
    top:0;
    left:0;
    width:100%;
    height: 70px;
    z-index: 5;
    background-color: black;
    font-size: 17px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;   
    width: 100%;
    gap:50px;
    margin: 0;
    padding: 0;
}
#menuHomePage {
    cursor: pointer;
}
/* Balance Container */
.balanceContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Bet inc dec Buttons */
.betButtons {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.betButtons button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
}

/* Home Page */
#homePage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
#homePage > img {
    width: 200px;
    height: 100px;
}

/* Slots Container */
#reel-container {
    display:none;
}
.slotsContainer {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:auto;
    height:auto;
    margin: 0;
    padding: 0;
    gap:20px;
}
.homeSlot1 {
    width:120px;
    height:150px;
    background-image:url(../media/images/slot1.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.homeSlot1:hover {
    transition:all 5ms ease; 
    width:150px;
    height:180px; 
}
.homeSlot2 {
    width:120px;
    height:150px;
    background-image:url(../media/images/slot2.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.homeSlot2:hover {
    transition:all 5ms ease; 
    width:150px;
    height:180px; 
}
.homeSlot3 {
    width:120px;
    height:150px;
    background-image:url(../media/images/slot3.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.homeSlot3:hover {
    transition:all 5ms ease; 
    width:150px;
    height:180px; 
}
