#startPage { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(13, 90, 90);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:200;
    height:500;
    border: 1px solid white;
    border-radius: 20px 0px;
    background-image: linear-gradient(to right,rgb(46, 126, 158),rgb(5, 60, 77));
    box-shadow: black 10px 10px 10px;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, transparent 20%, rgba(0,0,0,0.4));
}
.menu h1 {
    color:silver;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent 20%, rgba(0,0,0,0.4));
}
.menu p {
    color:silver;
    margin-left:10px;
    margin-right:10px;
}
.menu > button {
    width:120px;
    height:40px;
    background-color: white;
    border-radius: 10px 0px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
    margin-bottom:10px;
    box-shadow: rgb(55, 58, 56) 10px 10px 10px;
}
.menu button:hover {
    background-color: rgb(58, 190, 91);
    color: white;
}
.gameScreen {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: azure;
}
@media only screen and (orientation: portrait) {
    #turnMsg {
        display: block;
    }
    body {
        height: 100vh;
    }
    .menu {
        display:none;
    }
}
@media only screen and (orientation: landscape) {
    #turnMsg {
        display: none;
    }
    .menu {
        display:flex;
    }
}